{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blojango</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header class="navigation">
            <div>
                <a href="" class="btn">Popular</a>
                <a href="" class="btn primary">New</a>
            </div>
            
            <h1 style="font-family: Borel;">Blojango</h1>

            <div style="display: flex; gap: 30px;">
                <button class="btn" style="padding: 0;">
                    <img class="img-tiny" src="{% static 'icons/menu.png' %}" alt="">
                </button>
                <button class="btn" style="padding: 0;">
                    <img class="img-tiny" src="{% static 'icons/search.png' %}" alt="">
                </button>
            </div>
        </header>

        {% block body %}
        {% endblock body %}
    </body>
</html>