{% extends "./base.html" %}
{% load static %}

{% block body %}
    <div class="debug" style="display: flex; flex-direction: column; gap: 50px;">
        <div>
            <img class="img-medium" src="{% static 'thumbnails/thumb-1.png' %}" alt="">
            <h1>How to Change Your Bad Code</h1>
        </div>
        <div>
            <img class="img-medium" src="{% static 'thumbnails/thumb-3.png' %}" alt="">
            <h1>How to Write Bad Code</h1>
        </div>
        <div>
            <img class="img-medium" src="{% static 'thumbnails/thumb-4.png' %}" alt="">
            <h1>Do You Know Who Created Fortran?</h1>
        </div>
    </div>
{% endblock body %}