{% extends "./base.html" %}
{% load static %}

{% block body %}
    <div style="display: flex; flex-direction: column; gap: 50px;">
        <div class="post-thumbnail">
            <img src="{% static 'thumbnails/thumb-1.png' %}" alt="">
            <div style="display: flex; gap: 10px; font-size: 0.8rem;">
                <p style="color: var(--text-passive);">BY</p>
                <p>TOMAS LAURINAVICIUS</p>
                <p style="color: var(--text-passive);">IN</p>
                <p>RESOURCE</p>
            </div>
            <h1 style="font-size: 2rem;">How to Change Your Bad Code</h1>
        </div>
        <div class="post-thumbnail">
            <img src="{% static 'thumbnails/thumb-2.png' %}" alt="">
            <div style="display: flex; gap: 10px; font-size: 0.8rem;">
                <p style="color: var(--text-passive);">BY</p>
                <p>TOMAS LAURINAVICIUS</p>
                <p style="color: var(--text-passive);">IN</p>
                <p>RESOURCE</p>
            </div>
            <h1 style="font-size: 2rem;">How to Build A Stonehenge</h1>
        </div>
        <div class="post-thumbnail">
            <img src="{% static 'thumbnails/thumb-3.png' %}" alt="">
            <div style="display: flex; gap: 10px; font-size: 0.8rem;">
                <p style="color: var(--text-passive);">BY</p>
                <p>TOMAS LAURINAVICIUS</p>
                <p style="color: var(--text-passive);">IN</p>
                <p>RESOURCE</p>
            </div>
            <h1 style="font-size: 2rem;">How to Draw Something With Bad Posture</h1>
        </div>
    </div>
{% endblock body %}